<section class="pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h3>Booking table details</h3>
        <p>You can check all details</p>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button [routerLink]="RoomRoutes.ADD_NEW_ROOM" mat-raised-button color="primary">Add New Room</button>
      </div>
    </div>
    <app-table [columns]="roomsColumns" (pageChange)="handlePageChange($event)" [tableInput]="roomsData"></app-table>
  </div>
</section>
<router-outlet></router-outlet>
