<section class="h-100">
  <div class="containter h-100">
    <div class="row h-100 w-100">
      <div class="col-md-6">
        <div class="logo__container">
          <img src="../../../../../assets/images/svg/logo.svg" alt="logo" />
        </div>
        <div class="form__wrapper mt-5">
          <h2 class="form__wrapper-header">Forgot password</h2>
          <p class="form__wrapper-paragraph">
            If you already have an account register You can
            <a class="red-link fw-medium" routerLink="/auth/login">Login here !</a>
          </p>
          <form class="auth-form" [formGroup]="reqResForm" (ngSubmit)="reqRes()">
            <!-- email -->
            <div class="input-group mb-3">
              <label for="email" class="w-100 mb-2">Email</label>
              <input type="email"
                    id="email"
                    class="form-control"
                    placeholder="Please type here ..."
                    formControlName="email"
                    aria-label="email"
              >
            </div>
            <ng-container *ngIf="reqResForm.get('email')?.dirty || reqResForm.get('email')?.touched">
              <mat-error class="mb-3" *ngIf="reqResForm.get('email')?.errors?.['required']">email is required</mat-error>
              <mat-error class="mb-3" *ngIf="reqResForm.get('email')?.errors?.['email']">
                Email is not valid
              </mat-error>
            </ng-container>
            <div class="auth-form__actions">
              <button class="button" mat-raised-button color="primary">Send mail</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 py-3 d-flex">
        <div class="image__container reset">
          <h1 class="image__container-header">Forgot password</h1>
          <p class="image__container-paragraph">Homes as unique as you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
