<section class="h-100">
  <div class="containter h-100">
    <div class="row h-100 w-100 m-0">
      <div class="col-md-6">
        <div class="logo__container">
          <img src="../../../../../assets/images/svg/logo.svg" alt="logo" />
        </div>
        <div class="form__wrapper mt-5">
          <h2 class="form__wrapper-header">Reset Password</h2>
          <p class="form__wrapper-paragraph">
            If you already have an account register You can
            <a class="red-link fw-medium" routerLink="/auth/login">Login here !</a>
          </p>
          <form class="auth-form" [formGroup]="resPasswordForm" (ngSubmit)="reqRes()">
            <!-- email -->
            <div class="input-group mb-3">
              <label for="email" class="w-100 mb-2">Email</label>
              <input type="email"
                    id="email"
                    class="form-control"
                    placeholder="Please type here ..."
                    formControlName="email"
                    aria-label="email"
              >
            </div>
            <ng-container *ngIf="resPasswordForm.get('email')?.dirty || resPasswordForm.get('email')?.touched">
              <mat-error class="mb-3" *ngIf="resPasswordForm.get('email')?.errors?.['required']">email is required</mat-error>
              <mat-error class="mb-3" *ngIf="resPasswordForm.get('email')?.errors?.['email']">
                Email is not valid
              </mat-error>
            </ng-container>
            <!-- seed -->
            <div class="input-group mb-3">
              <label for="seed" class="w-100 mb-2">OTP</label>
              <input type="email"
                    id="seed"
                    class="form-control"
                    placeholder="Please type here ..."
                    formControlName="seed"
                    aria-label="seed"
              >
            </div>
            <ng-container *ngIf="resPasswordForm.get('seed')?.dirty || resPasswordForm.get('seed')?.touched">
              <mat-error class="mb-3" *ngIf="resPasswordForm.get('seed')?.errors?.['required']">The seed is required</mat-error>
            </ng-container>
            <!-- password -->
            <div class="input-group mb-3 position-relative">
              <label for="password" class="w-100 mb-2">Password</label>
              <input [type]="showPassword? 'text' : 'password'"
                    id="password"
                    class="form-control"
                    placeholder="Please type here ..."
                    formControlName="password"
                    aria-label="password"
              >
              <span class="eye-pass" (click)="toggleShowPass()">
                <i class="fa-solid grey-color"
                [class]="!showPassword ? 'fa-eye' : 'fa-eye-slash'">
                </i>
              </span>
            </div>
            <ng-container *ngIf="resPasswordForm.get('password')?.dirty || resPasswordForm.get('password')?.touched">
              <mat-error class="mb-3" *ngIf="resPasswordForm.get('password')?.errors?.['required']">password is required</mat-error>
              <mat-error class="mb-3" *ngIf="resPasswordForm.get('password')?.errors?.['pattern']">
                least 8 characters, one
                special character, one lowercase letter, one uppercase letter and one digit.
              </mat-error>
            </ng-container>
            <!-- confirmPassword -->
            <div class="input-group mb-3 position-relative">
              <label for="confirmPassword" class="w-100 mb-2">Confirm Password</label>
              <input [type]="showConfirmPassword? 'text' : 'password'"
                    id="confirmPassword"
                    class="form-control"
                    placeholder="Please type here ..."
                    formControlName="confirmPassword"
                    aria-label="confirmPassword"
              >
              <span class="eye-pass" (click)="toggleShowConfirmPass()">
                <i class="fa-solid grey-color"
                [class]="!showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'">
                </i>
              </span>
            </div>
            <ng-container *ngIf="resPasswordForm.get('confirmPassword')?.dirty || resPasswordForm.get('confirmPassword')?.touched">
              <mat-error class="mb-3" *ngIf="resPasswordForm.get('confirmPassword')?.errors?.['required']">confirmPassword is required</mat-error>
              <mat-error class="mb-3" *ngIf="resPasswordForm.getError('mismatch')">
                  not match with password
              </mat-error>
            </ng-container>

            <div class="auth-form__actions">
              <button class="button" mat-raised-button color="primary">Reset</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 py-3 d-flex">
        <div class="image__container reset">
          <h1 class="image__container-header">Forgot password</h1>
          <p class="image__container-paragraph">Homes as unique as you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
