<section>
  <div class="container">
    <div class="row">
      <form class="auth-form" [formGroup]="updateRoomForm" (ngSubmit)="updateRoom()">
        <!-- roomNumber -->
        <div class="input-group mb-3">
          <input type="text"
                class="form-control"
                placeholder="Room Number"
                formControlName="roomNumber"
                aria-label="roomNumber"
          >
        </div>
        <ng-container *ngIf="updateRoomForm.get('roomNumber')?.dirty || updateRoomForm.get('roomNumber')?.touched">
          <mat-error class="mb-3 d-inline-block" *ngIf="updateRoomForm.get('roomNumber')?.errors?.['required']">Room Number is required</mat-error>
          <mat-error class="mb-3 d-inline-block" *ngIf="updateRoomForm.get('roomNumber')?.errors?.['pattern']">Room Number must be number and one '-'</mat-error>
        </ng-container>
        <div class="row">
        <!-- price -->
        <div class="col-md-6">
          <div class="input-group mb-3">
            <input type="text"
                  class="form-control"
                  placeholder="price"
                  formControlName="price"
                  aria-label="price"
            >
          </div>
          <ng-container *ngIf="updateRoomForm.get('price')?.dirty || updateRoomForm.get('price')?.touched">
            <mat-error class="mb-3 d-inline-block" *ngIf="updateRoomForm.get('price')?.errors?.['required']">price is required</mat-error>
            <mat-error class="mb-3 d-inline-block" *ngIf="updateRoomForm.get('price')?.errors?.['pattern']">price must be number</mat-error>
          </ng-container>
          </div>
          <!-- capacity -->
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input type="text"
                    class="form-control"
                    placeholder="capacity"
                    formControlName="capacity"
                    aria-label="capacity"
              >
            </div>
            <ng-container *ngIf="updateRoomForm.get('capacity')?.dirty || updateRoomForm.get('capacity')?.touched">
              <mat-error class="mb-3 d-inline-block" *ngIf="updateRoomForm.get('capacity')?.errors?.['required']">capacity is required</mat-error>
              <mat-error class="mb-3 d-inline-block" *ngIf="updateRoomForm.get('capacity')?.errors?.['pattern']">price must be number</mat-error>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!-- discount -->
            <div class="input-group mb-3">
              <input type="text"
                    class="form-control"
                    placeholder="discount"
                    formControlName="discount"
                    aria-label="discount"
              >
            </div>
            <ng-container *ngIf="updateRoomForm.get('discount')?.dirty || updateRoomForm.get('discount')?.touched">
              <mat-error class="mb-3 d-inline-block" *ngIf="updateRoomForm.get('discount')?.errors?.['required']">discount is required</mat-error>
              <mat-error class="mb-3 d-inline-block" *ngIf="updateRoomForm.get('discount')?.errors?.['pattern']">discount must be number</mat-error>
            </ng-container>
          </div>
          <div class="col-md-6">
            <!-- facilities -->
            <div class="facilities">
              <div class="custom-select form-control">
                <div class="select-box position-relative" (click)="toggleDropdown()">
                  Facilities
                  <i class="fa-solid fa-chevron-down"></i>
                  <div *ngFor="let item of selectedAmenities" class="selected-item">
                    {{ item }}
                  </div>
                </div>
                <div class="options" *ngIf="dropdownOpen">
                  <div *ngFor="let facility of facilitiesArr">
                    <label>
                      <input type="checkbox" [value]="facility" (change)="onCheckboxChange($event)"
                              [checked]="selectedAmenities.includes(facility)" />
                      {{ facility }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ngx-dropzone class="text-center overflow-hidden" (change)="onSelect($event)">
          <ngx-dropzone-label>
            <img class="mb-4" src="assets/images/upload.svg" alt="">
            <p>Drag & Drop or <span class="choose">Choose a Room Images</span> to Upload</p>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview class="rounded-circle" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label class="rounded-circle"></ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
        <div class="auth-form__actions ">
          <div class="row d-flex justify-content-end">
            <div class="col-md-2">
              <button
              class="button"
              mat-stroked-button
              (click)="cancelAction()"
              >
              Cancel
            </button>
          </div>
          <div class="col-md-2">
            <button
            class="button"
            mat-raised-button
            color="primary"
            [disabled]="updateRoomForm.invalid"
            >
            Save
          </button>
        </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</section>
