@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

@mixin auth-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@mixin login-image {
  @include auth-image;
  background-image: url("../../images/svg/login-image.svg");
}

@mixin register-image {
  @include auth-image;
  background-image: url("../../images/svg/register-image.svg");
}

@mixin reset-image {
  @include auth-image;
  background-image: url("../../images/svg/reset-image.svg");
}
