$black-color: #000000;
$white-color: #ffffff;
$red-color: #ff2c38;
$light-grey: #f8f9fb;
$dark-grey: #1a1b1e2b;
$dark-grey2: #1a1b1e;
$dark-blue: #203fc7;
$dark-blue2: #152c5b;
$table-header-color: #e2e5eb;
$primary-color: #203fc7;
