$black-color: #000000;
$white-color: #ffffff;
$red-color: #ff2c38;
$light-grey: #f8f9fb;
$dark-grey: #1a1b1e2b;
$dark-grey2: #1a1b1e;
$dark-blue: #1a237e;
$dark-blue2: #152c5b;

$table-header-color: #E2E5EB;
