<section class="pt-4">
  <div class="container">
    <h1 class="blue-text text-center fw-bolder">Your favorites</h1>
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb" class="ps-5">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Favorites</li>
      </ol>
    </nav>
    <div class="container mb-3" *ngIf="rooms; else noFavorites">
      <div class="row g-4">
        <div
          class="col-lg-3 col-md-4 col-sm-6"
          *ngFor="
            let room of rooms
              | paginate : { itemsPerPage: size, currentPage: page }
          "
        >
          <div class="image-container">
            <img [src]="room.images[0]" alt="Sample Image" />
            <div class="overlay">
              <button (click)="removeFromFav(room._id)">
                <i class="fas fa-heart-broken"></i>
              </button>
            </div>
            <p class="price">
              <strong>${{ room.price }}</strong> per night
            </p>
            <div class="details">
              <p>
                Discount: <strong>{{ room.discount }}%</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    <ng-template #noFavorites> <p>No favorite rooms found.</p> </ng-template>
  </div>
</section>
