<section class="p-2">
  <div class="d-flex justify-content-between align-items-center">
    <h5 mat-dialog-title>{{ data.text }}</h5>
    <button mat-icon-button mat-dialog-close color="warn">
      <mat-icon >close</mat-icon>
    </button>
  </div>
  <form mat-dialog-content class="text-center d-flex flex-column" [formGroup]="updateAdForm">
    <mat-form-field appearance="fill" class="normal-input">
      <input formControlName="discount" matInput />
    </mat-form-field>
    <mat-form-field class="normal-input">
      <!-- <mat-label>Active</mat-label> -->
      <mat-select formControlName="isActive">
        <mat-option [value]="true">Active</mat-option>
        <mat-option [value]="false">Inactive</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div mat-dialog-actions [align]="'end'">
    <button mat-button [mat-dialog-close]="updateAdForm.value" class="btn btn-primary">
      Update
    </button>
  </div>
</section>
