<div class="container">
  <div class="row">
    <h5 class="blue-text">Houses with beauty backyard</h5>
    <div class="room p-0">
      <app-single-room></app-single-room>
      <p class="blue-text m-0 mt-2">Tabby Town</p>
      <p class="grey-text">Gunung Batu, Indonesia</p>
    </div>
    <div class="room p-0">
      <app-single-room></app-single-room>
      <p class="blue-text m-0 mt-2">Tabby Town</p>
      <p class="grey-text">Gunung Batu, Indonesia</p>
    </div>
    <div class="room p-0">
      <app-single-room></app-single-room>
      <p class="blue-text m-0 mt-2">Tabby Town</p>
      <p class="grey-text">Gunung Batu, Indonesia</p>
    </div>

    <div class="room p-0">
      <app-single-room></app-single-room>
      <p class="blue-text m-0 mt-2">Tabby Town</p>
      <p class="grey-text">Gunung Batu, Indonesia</p>
    </div>
  </div>
</div>
