<div class="container-fluid h-100">
  <div class="row h-100">
    <div
      [ngClass]="{
        'sidebar-container': !isExpand,
        'sidebar-container-collapsed': isExpand
      }"
      class="sidebar p-0 h-100 position-fixed"
    >
      <app-side-navbar (toggle)="toggleSidebar()"></app-side-navbar>
    </div>
    <div
      class="ms-auto"
      [ngClass]="{
        'col-md-10 ': !isExpand,
        'col-md-11 ': isExpand
      }"
    >
      <app-header [profileImage]="profileImage"></app-header>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
