<section>
  <div class="container">
    <div class="row h-100">
      <form class="room-form" [formGroup]="roomForm" (ngSubmit)="saveRoom()">
        <div>
          <mat-form-field class="normal-input w-100">
            <input matInput placeholder="Room number" formControlName="roomNumber" type="text">
            <mat-error *ngIf="roomForm.get('roomNumber')?.errors?.['required']">
              Room Number is required
            </mat-error>
          </mat-form-field>
          <!-- Price and Capacity -->
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="normal-input w-100">
                <input matInput placeholder="Price" formControlName="price" type="number">
                <mat-error *ngIf="roomForm.get('price')?.errors?.['required']">
                  Price is required
                </mat-error>
                <mat-error *ngIf="roomForm.get('price')?.errors?.['pattern']">
                  Price must be a number
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="normal-input w-100">
                <input matInput placeholder="Capacity" formControlName="capacity" type="number">
                <mat-error *ngIf="roomForm.get('capacity')?.errors?.['required']">
                  Capacity is required
                </mat-error>
                <mat-error *ngIf="roomForm.get('capacity')?.errors?.['pattern']">
                  Capacity must be a number
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Discount and Facilities -->
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="normal-input w-100">
                <input matInput placeholder="Discount" formControlName="discount" type="number">
                <mat-error *ngIf="roomForm.get('discount')?.errors?.['required']">
                  Discount is required
                </mat-error>
                <mat-error *ngIf="roomForm.get('discount')?.errors?.['pattern']">
                  Discount must be a number
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="normal-input w-100">
                <mat-select formControlName="facilities" multiple placeholder="Facilities">
                  @for (facility of facilities; track facility._id) {
                  <mat-option [value]="facility._id">{{ facility.name }}</mat-option>
                  }
                </mat-select>
                <mat-error *ngIf="roomForm.get('facilities')?.errors?.['required']">
                  Facilities are required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ngx-dropzone (change)="onSelect($event)" [disabled]="isViewMode">
                <ngx-dropzone-label>
                  <mat-icon>upload</mat-icon>
                  <p>Drag & Drop or <span>Choose a Room Images</span> to Upload</p>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview *ngFor="let preview of imagePreviews" [file]="preview.file"
                  [removable]="!isViewMode" (removed)="onRemove(preview)">
                  <img *ngIf="preview.url" [src]="preview.url" alt="Room Image" />
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>
          </div>
        </div>
        <!-- Form Actions -->
        <div>
          <div class="d-flex justify-content-end gap-3">
            <div>
              <button *ngIf="!isViewMode" routerLink="../../" type="button" mat-stroked-button color="primary">
                Cancel
              </button>
            </div>
            <div>
              <button type="submit" mat-raised-button color="primary" [disabled]="roomForm.invalid">
                {{ isViewMode ? 'close' : 'Save' }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
