<section>
  <div class="container">
    <h1 class="blue-text text-center fw-bolder">
      {{ "explore-page.heading" | translate }}
    </h1>
    <nav aria-label="breadcrumb" class="ps-5">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']">{{ "explore-page.home" | translate }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ "explore-page.explore" | translate }}
        </li>
      </ol>
    </nav>
    <p class="ps-5 fs-4 fw-bold m-0 blue-text mb-3">
      {{ "explore-page.all" | translate }}
    </p>
    <div class="container">
      <div class="row">
        <div
          class="col-lg-4 col-md-4 col-sm-6 col-8"
          *ngFor="
            let room of rooms
              | paginate : { itemsPerPage: size, currentPage: page }
          "
        >
          <app-single-room
            [room]="room"
            class="col-lg-3 col-md-4 col-sm-6"
          ></app-single-room>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</section>
