@import "../../../../../../assets/sass/abstracts/variables";

.fa-bars {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 1.3rem;
  left: 2rem;
  font-size: 2rem;
  color: #777;
}

.sidebar {
  transition: 0.7s;
  width: 100%;
  transition: 0.5s ease;
  background-color: $dark-blue;
  z-index: 9999;
  .fa-xmark {
    display: none;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
  }
  ul {
    list-style: none;
    padding: 0;
    padding-top: 5rem;

    li {
      text-align: center;
      position: relative;
      cursor: pointer;

      &.active,
      &:hover {
        color: $white-color;
        background-color: $dark-grey;

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 4px;
          background-color: $dark-blue2;
          top: 0;
          left: 0;
        }
      }

      a {
        color: $white-color;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding-left: 1.5rem;
        column-gap: 0.5rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .sidebar {
    .logo {
      width: 6rem;
    }
    .links li a {
      color: #fff !important;
      padding: 15px 0 15px 25px;
      font-size: 14px;
      &:hover:not(.active) {
        padding-left: 2rem;
        color: #fff !important;
        span {
          display: none;
        }
      }
      img {
        width: 18px;
        margin-right: .5rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .links li a span {
    display: none;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .fa-bars {
    display: block;
  }
  .sidebar {
    display: block;
    position: absolute;
    width: 50%;
    z-index: 99;
    left: -100%;
    .fa-xmark {
      display: block;
    }
    .logo {
      width: 5rem;
    }
    .links li a {
      padding: 15px 0 15px 25px;
      color: #fff;
      &:hover:not(.active) {
        padding-left: 2rem;
        color: #fff;
      }
      span {
        display: inline-block;
        color: #fff;
      }
    }
    .links li:hover a {
      color: #fff;
      span {
        color: #fff;
      }
    }
  }
}

.active {
  left: 0;
}
