
<i class="fa-solid fa-bars" (click)="showSideBar()"></i>
<aside
  class="sidebar h-100"
  [class.active]="isSidebarActive"
>
<i class="fa-solid fa-xmark" (click)="hideSideBar()"></i>
  <ul>
    <ng-container *ngFor="let item of navItems">
      <li class="py-3">
        <a
          class="logout"
          [routerLink]="item.route"
          routerLinkActive="active"
          #rla="routerLinkActive"
          (click)="hideSideBar()"
        >
          <i class="material-icons">{{ item.icon }}</i>
          <span class="nav-text">{{ item.name }}</span>
        </a>
      </li>
    </ng-container>
  </ul>
</aside>

<!-- <i class="fa-solid fa-bars" (click)="showSideBar()"></i>
<section class="sidebar pt-5">
  <i class="fa-solid fa-xmark" (click)="hideSideBar()"></i>
  <ul class="links list-unstyled mt-3">
    <ng-container *ngFor="let item of navItems">
      <li *ngIf="item">
        <a [routerLink]="'/' + item.route" routerLinkActive="active">
          <i class="material-icons">{{ item.icon }}</i>
          <span>{{item.name}}</span>
        </a>
      </li>
    </ng-container>
  </ul>
</section> -->
