<aside class="sidebar h-100" [class.collapsed]="!isExpanded">
  <button class="toggle-btn" (click)="toggleSidebar()">
    <mat-icon>{{ isExpanded ? "chevron_left" : "chevron_right" }}</mat-icon>
  </button>
  <ul>
    <ng-container *ngFor="let item of navItems">
      <li class="px-5 py-3">
        <a
          class="px-3 logout"
          (click)="item.name === 'Logout' ? logout() : null"
          [routerLink]="item.name === 'Logout' ? null : item.route"
          routerLinkActive="active"
          #rla="routerLinkActive"
        >
          <i class="material-icons">{{ item.icon }}</i>
          @if (isExpanded ) {
          <span class="nav-text">{{ item.name }}</span>

          }
        </a>
      </li>
    </ng-container>
  </ul>
</aside>
