.upload {
  width: 100%;
  ngx-dropzone{
    width: 180px;
    ::ng-deep ngx-dropzone-image-preview img {
      min-width: 160px !important;
      min-height: 160px !important;
      object-fit: cover;
      border-radius: 50%;
    }
    ::ng-deep ngx-dropzone-image-preview ngx-dropzone-remove-badge {
      top: -2px !important;
      right: 22px !important;
    }
  }
}

label {
  color: #152C5B;
}

.input-group {
  margin-bottom: 15px;
  input {
    background-color: #F5F6F8;
    height: 45px;
    border-radius: 4px !important;
    &::placeholder {
      color: #D3D6DC;
    }
  }
  .eye-pass {
    z-index: 99;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 15px;
    color: #ABABAB;
    transform: translateY(-50%);
    i {
      font-size: 18px;
    }
  }
}

mat-error {
  color: #dc3545;
  text-transform: capitalize;
}
.auth-form__actions {
  margin-top: .5rem;
}
.form__wrapper {
  gap: 0;
  &-header {
    margin-top: 1rem;
  }
}

