i.fa-eye,
i.fa-eye-slash {
  z-index: 99;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.upload {
  transform: translateX(4%);
  -webkit-transform: translateX(4%);
  -moz-transform: translateX(4%);
  -ms-transform: translateX(4%);
  -o-transform: translateX(4%);
  ngx-dropzone {
    width: 180px;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    ::ng-deep ngx-dropzone-image-preview img {
      min-width: 160px !important;
      min-height: 160px !important;
      object-fit: cover;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    ::ng-deep ngx-dropzone-image-preview ngx-dropzone-remove-badge {
      top: -2px !important;
      right: 22px !important;
    }
  }
}
