.button {
  background-color: mat.get-color-from-palette($Hotel-system-primary, A700);
  color: #ffffff;
  width: 100%;
  height: 2.5rem;
  padding: 22px 0 !important;
}
image-container {
  width: 100%;
  height: 100%;
}
