.button {
  background-color: mat.get-color-from-palette($Hotel-system-primary, 500);
  color: #ffffff;
  width: 100%;
  height: 2.5rem;
  padding: 22px 0 !important;
}
image-container {
  width: 100%;
  height: 100%;
  .mat-raised-button {
    &.primary {
      background-color: mat.get-color-from-palette($Hotel-system-primary, 500);
      color: white;
    }

    &.secondary {
      background-color: transparent;
      color: mat.get-color-from-palette($Hotel-system-primary, 500);
      border: 1px solid mat.get-color-from-palette($Hotel-system-primary, 500);
    }

    &.danger {
      background-color: mat.get-color-from-palette($Hotel-system-warn, 500);
      color: white;
    }
  }
}
