header {
  height: 80px;
}

hr {
  color: #e5e5e5;
  margin-bottom: 45px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #152c5b;
  transition: all 0.3 ease;
  &:hover {
    color: #3252df;
    font-weight: 500;
  }
  &.active {
    color: #3252df;
    font-weight: 500;
  }
}

p {
  margin: 0;
  color: #1f384c;
}
.theme-control {
    display: flex;
    align-items: center;
    justify-content: center;
  }
