@import "../../../../assets/sass/abstracts/variables";
header {
  height: 80px;
}

hr {
  color: #bbb;
}

ul {
  list-style: none;
  .btn-trans {
    color: #fff;
    border: none;
    width: 35px;
    height: 30px;
    background-color: #3252df;
    border-radius: 50%;
    transition: 0.3s;
    &:hover {
      background-color: #152c5b;
    }
  }
}

a {
  text-decoration: none;
  color: #3252df;
  transition: all 0.3 ease;
  &:hover {
    color: #3252df;
    font-weight: 500;
  }
  &.active {
    color: #3252df;
    font-weight: 500;
  }
}
.btn-navbar {
  background-color: #3252df !important;
  border-color: #3252df;
  color: white !important;
  box-shadow: 0px 8px 10px 0px #3252df4d;
}
p {
  margin: 0;
  color: #1f384c;
}
.theme-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  header {
    height: 100%;
    .nav-container {
      .image-box {
        margin: 20px 0;
      }
      nav {
        gap: 1rem !important;
        ul {
          padding: 0;
          gap: 1rem !important;
        }
      }
      .auth-btns {
        button {
          font-size: 13px;
          padding: 6px;
        }
      }
    }
  }
}
