@import '../../abstracts/variables';

.form__wrapper {
  @include flexCenter;
  height: 80%;
  width: 64%;
  margin: 0 auto;
  margin-left: 25%;
  gap: 1rem;
  text-align: start;
  &-header {
    width: 100%;
  }
  &-paragraph {
    width: 100%;
    .blue-link {
      color: mat.get-color-from-palette($Hotel-system-primary, 500);
    }
    .red-link {
      color: mat.get-color-from-palette($Hotel-system-accent);
    }
  }
  .form__wrapper-paragraph {
    width: 100%;
  }
  .auth-form {
    @include flexCenter;
    width: 100%;
    mat-form-field {
      width: 100%;
    }
    &__links {
      width: 100%;
      text-align: end;
      .link {
        color: #4d4d4d;
        font-weight: lighter;
      }
    }
    &__actions {
      width: 100%;
      margin-top: 1rem;
    }
  }
}
@media (max-width: 768px) {
  .form__wrapper {
    width: 100%;
    margin: 0;
  }
}
.image__container {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  color: white;
  padding: 0 0 4rem 4rem;
  position: relative;
  overflow: hidden;
  &.login {
    @include login-image;
  }
  &.register {
    @include register-image;
  }
  &.reset {
    @include reset-image;
  }
  &::after {
    content:  "";
    background-color: $primary-color;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  * {
    position: relative;
    z-index: 999;
  }
  .image__container-header {
    font-size: 35px;
  }
  .image__container-paragraph {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .image__container {
    justify-content: center;
    padding: 4rem 2rem;
    align-items: center;
    text-align: center;
  }
}
