nav {
  width: 70%;
  .heading {
    h2 {
      color: #152c5b;
    }
    span {
      color: #b0b0b0;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  float: none;
}
.start-booking {
  margin: 10px auto;
  border: 1px solid #e5e5e5;
  padding: 35px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  h4 {
    color: #152c5b;
  }
  p {
    font-size: 36px;
    color: #b0b0b0;
    margin-bottom: 0;
    span {
      color: #1abc9c;
    }
  }
  form {
    width: 60%;
    margin: 10px auto;
    margin-top: 80px;
    label {
      color: #152c5b;
    }
    .input-group {
      .input-group-text {
        background-color: #152c5b !important;
        color: #fff;
        img {
          width: 15px;
        }
      }
    }
    .pay {
      color: #b0b0b0;
      .num {
        color: #152c5b;
      }
    }
  }
}
.details {
  img {
    border-radius: 16px;
  }

  .rate-comment {
    padding: 2rem;
    margin-top: 50px;
    border: 1px solid #e5e5e5;
    border-radius: 15px;

    form {
      width: 100%;
      text-align: center;
      button {
        width: 210px;
        height: 50px;
        display: block;
        margin: 15px 0;
        font-size: 18px;
      }
    }
    .comment form {
      margin-top: 92px;
    }
  }
}
#imageCarousel {
  width: 90%;
  margin: 0 auto;
}
#imageCarousel img {
  height: 400px;
  // object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.facilities {
  .facility-container {
    width: 25%;
    height: 5rem;
    .facility-icon {
      width: 38px;
      height: 38px;
      object-fit: contain;
    }
  }
}
.review-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.review-header {
  display: flex;
  align-items: center;
}

.user-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  margin-right: 10px;
}

.review-text {
  margin: 6px 0;
  font-size: 16px;
  line-height: 1.5;
}

.review-date {
  margin: 0;
  font-size: 12px;
  color: #888;
}

.rateForm {
  margin-top: 20px;
  background: #f9f9f9;
  border-radius: 8px;
}

.explore-btn {
  margin-top: 10px;
}
