<div class="row booking-section">
  <div class="col-md-6"></div>
  <div class="col-md-6"></div>
</div>
<div class="row popular-ads">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <div class="above-img"></div>
    <div class="below-img"></div>
  </div>
  <div class="col-md-3">
    <div class="above-img"></div>
    <div class="below-img"></div>
  </div>
</div>
<div class="shared-rooms"><app-shared-rooms></app-shared-rooms></div>
<div class="shared-rooms"><app-shared-rooms></app-shared-rooms></div>
<div class="shared-rooms"><app-shared-rooms></app-shared-rooms></div>
<div class="testimonial">
  <div class="col-md-3">
    <div class="img-container"></div>
    <div class="col-md-6">
      <div class="reviews-container"></div>
    </div>
  </div>
</div>
