<mat-stepper labelPosition="bottom" #stepper [linear]="true">
  <mat-step [stepControl]="checkoutForm" [completed]="stepCompleted">
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7">
            <div class="d-flex flex-column text-center align-items-center gap-4">
              <div>
                <h2>Payment</h2>
                <p>Kindly follow the instructions below</p>
              </div>
              <form [formGroup]="checkoutForm" class="d-flex  flex-column">
                <div class="d-flex gap-3 justify-content-center">
                  <mat-form-field class="normal-input" appearance="fill">
                    <input matInput placeholder="Name" formControlName="name" />
                  </mat-form-field>
                  <mat-form-field class="normal-input" appearance="fill">
                    <input matInput placeholder="Email" type="email" formControlName="email" />
                  </mat-form-field>
                </div>
                <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
                  <ngx-stripe-card [options]="cardOptions" />
                </ngx-stripe-elements>
                <p class="mt-3">Total price: ${{booking?.totalPrice}}</p>
              </form>
              <div class="form-actions">
                <button matStepperNext mat-raised-button color="primary" type="submit" (click)="createToken()">
                  Continue to book
                </button>
                <button class="cancel" mat-raised-button routerLink="../" type="button" (click)="createToken()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </mat-step>
  <mat-step>
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7">
            <div class="d-flex flex-column text-center align-items-center gap-4">
              <h2 class="m-0">Yay! Completed</h2>
              <div class="text-center">
                <img src="../../../../../../assets/images/svg/payment-completed-picture.svg"
                  alt="payment completed picture">
              </div>
              <p>We will inform you via email later
                once the transaction has been accepted</p>
              <button routerLink="/home" mat-raised-button color="primary">Back to home</button>
            </div>

          </div>
        </div>
      </div>
    </section>
  </mat-step>
</mat-stepper>
