img {
  height: 2rem;
}

h3 {
  color: #152C5B;
  font-size: 18px;
  margin-bottom: 35px;
}

.desc, a, .copyright {
  color: #B0B0B0;
  margin-top: 26px;
}

ul li {
  margin-bottom: 8px;
}

hr {
  color: #E5E5E5;
  margin: 45px 0;
}
