<footer>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="../../../../assets/images/svg/logo.svg" alt="">
        <p class="desc">We kaboom your beauty holiday instantly and memorable.</p>
      </div>
      <div class="col-md-3">
        <h3>For Beginners</h3>
        <ul class="list-unstyled">
          <li>
            <a href="#">New Account</a>
          </li>
          <li>
            <a href="#">Start Booking a Room</a>
          </li>
          <li>
            <a href="#">
              Use Payments
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Explore Us</h3>
        <ul class="list-unstyled">
          <li>
            <a href="#">
              Our Careers
            </a>
          </li>
          <li>
            <a href="#">
              Privacy
            </a>
          </li>
          <li>
            <a href="#">
              Terms & Conditions
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Connect Us</h3>
        <ul class="list-unstyled">
          <li>
            <a href="#">
            support&#64;staycation.id
            </a>
          </li>
          <li>
            <a href="#">
              021 - 2208 - 1996
            </a>
          </li>
          <li>
            <a href="#">
              Staycation, Kemang, Jakarta
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="copyright text-center pt-3">Copyright 2019 • All rights reserved • Staycation</p>
  </div>
</footer>
