<section class="pt-4">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <div>
        <h3>Facilities table details</h3>
        <p>You can check all details</p>
      </div>
      <div class="d-flex align-items-center">
        <button
          (click)="openFacilityDialog('Add', null)"
          mat-raised-button
          color="primary"
        >
          Add new facility
        </button>
      </div>
    </div>
      <app-table [columns]="facilitiesColumns" (pageChange)="handlePageChange($event)" [tableInput]="facilitiesData"></app-table>
    <app-table
      (pageChange)="handlePageChange($event)"
      [tableInput]="facilitiesData"
    ></app-table>
  </div>
</section>
