.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.15);

  img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  &:hover img {
    transform: scale(1.1);
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #203fc736;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  i {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  &:hover i {
    opacity: 1;
  }
  .price {
    color: white;
    background-color: $pink-color;
    padding: 2%;
    width: 45%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 0 0 0 1rem;
  }
  i {
    color: white;
    font-size: 2rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      color: $pink-color;
      opacity: 0.8;
    }
  }
  .fa-eye {
    right: 35%;
  }
  .fa-heart-broken {
    transform: translate(50%, -50%);
  }
  .details {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    transition: opacity 0.5s ease-in-out;
    p {
      margin: 0;
      opacity: 1;
    }
  }
}

.popular-rooms {
  margin: 2rem 0;
  .image-container {
    height: 100%;
    img {
      height: 100%;
    }
  }
  .second {
    row-gap: 1rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    width: 70%;
    margin: 0 auto;
  }
}

// Explore Page //

.grid-container {
  .image-container {
    .price,
    i,
    .details {
      opacity: 1;
    }
  }
}

// Shared-room Page //

.container {
  .row {
    .room,
    .first,
    .second .above-img,
    .second .below-img {
      .image-container {
        width: 100%;
      }
    }
  }
}
