<section class="h-100">
  <div class="containter h-100">
    <div class="row h-100 w-100">
      <div class="col-md-6">
        <div class="logo__container">
          <img src="../../../../../assets/images/svg/logo.svg" alt="logo" />
        </div>
        <div class="form__wrapper mt-5">
          <h2 class="form__wrapper-header">Sign in</h2>
          <p class="form__wrapper-paragraph">
            If you don't have an account register You can
            <a class="blue-link fw-medium" routerLink="/auth/register"
              >Register here !</a
            >
          </p>
          <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- email -->
            <div class="input-group mb-3">
              <label for="email" class="w-100 mb-2">Email Address</label>
              <input
                type="email"
                id="email"
                class="form-control"
                placeholder="Please type here ..."
                formControlName="email"
                aria-label="email"
              />
            </div>
            <ng-container
              *ngIf="
                loginForm.get('email')?.dirty || loginForm.get('email')?.touched
              "
            >
              <mat-error
                class="mb-3"
                *ngIf="loginForm.get('email')?.errors?.['required']"
                >Email is required</mat-error
              >
              <mat-error
                class="mb-3"
                *ngIf="loginForm.get('email')?.errors?.['email']"
              >
                <ng-container
                  *ngIf="
                    loginForm.get('email')?.dirty ||
                    loginForm.get('email')?.touched
                  "
                >
                  <p
                    class="text-danger"
                    *ngIf="loginForm.get('email')?.errors?.['required']"
                  >
                    email is required
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="loginForm.get('email')?.errors?.['email']"
                  >
                    Email is not valid
                  </p></ng-container
                >
              </mat-error>
            </ng-container>

            <!-- password -->
            <div class="input-group mb-3 position-relative">
              <label for="password" class="w-100 mb-2">Password</label>
              <input
                [type]="showPassword ? 'text' : 'password'"
                id="password"
                class="form-control"
                placeholder="Please type here ..."
                formControlName="password"
                aria-label="password"
              />
              <span class="eye-pass" (click)="toggleShowPass()">
                <i
                  class="fa-solid grey-color"
                  [class]="!showPassword ? 'fa-eye' : 'fa-eye-slash'"
                >
                </i>
              </span>
            </div>
            <ng-container
              *ngIf="
                loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched
              "
            >
              <mat-error
                class="mb-3"
                *ngIf="loginForm.get('password')?.errors?.['required']"
                >password is required</mat-error
              >
              <mat-error
                class="mb-3"
                *ngIf="loginForm.get('password')?.errors?.['pattern']"
              >
                least 8 characters, one special character, one lowercase letter,
                one uppercase letter and one digit.
              </mat-error>
            </ng-container>

            <ng-container
              *ngIf="
                loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched
              "
            >
              <p
                class="text-danger"
                *ngIf="loginForm.get('password')?.errors?.['required']"
              >
                password is required
              </p>
              <p
                class="text-danger"
                *ngIf="loginForm.get('password')?.errors?.['pattern']"
              >
                least 8 characters, one special character, one lowercase letter,
                one uppercase letter and one digit.
              </p>
            </ng-container>
            <!-- forget password link -->
            <div class="auth-form__links">
              <a routerLink="/auth/request-reset-password" class="link"
                >Forget password ?</a
              >
              <a routerLink="/auth/request-reset-password" class="link"
                >Forget password</a
              >
            </div>
            <div class="auth-form__actions">
              <button
                class="button"
                mat-raised-button
                color="primary"
                [disabled]="loginForm.invalid"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 py-3 d-flex">
        <div class="image__container login">
          <h1 class="image__container-header">Sign in to Roamhome</h1>
          <p class="image__container-paragraph">Homes as unique as you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
