<div class="container">
  login is works!
</div>
<section class="h-100">
  <div class="containter h-100">
    <div class="row h-100">
      <div class="col-md-6">
        <div class="logo__container">
          <img src="../../../../../assets/images/svg/logo.svg" alt="logo" />
        </div>
        <div class="form__wrapper">
          <h2 class="form__wrapper-header">Sign in</h2>
          <h2 class="form__wrapper-header">Login</h2>
          <p class="form__wrapper-paragraph">
            If you don't have an account register You can
            <a class="blue-link" routerLink="">Register here !</a>
          </p>
          <form class="auth-form">
            <mat-form-field appearance="fill">
              <mat-label>Email address</mat-label>
              <input matInput placeholder="Please enter your email" />
              <mat-icon matPrefix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Please enter your password" />
              <mat-icon matPrefix>lock</mat-icon>
              <mat-icon matSuffix>visibility</mat-icon>
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <div class="auth-form__links">
              <a href="" class="link">Forget password</a>
            </div>
            <div class="auth-form__action">
              <button mat-raised-button color="primary">Login</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image__container">
          <h1 class="image__container-header"></h1>
          <p class="image__container-paragraph"></p>
        </div>
      </div>
    </div>
  </div>
</section>
