// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-primary: (
  50: #203fc7,
  100: #203fc7,
  200: #203fc7,
  300: #203fc7,
  400: #203fc7,
  500: #203fc7,
  600: #203fc7,
  700: #203fc7,
  800: #203fc7,
  900: #203fc7,
  A100: #203fc7,
  A200: #203fc7,
  A400: #203fc7,
  A700: #203fc7,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #fff,
    A700: #fff,
  ),
);

$Hotel-system-primary: mat.define-palette($custom-primary);
$Hotel-system-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Hotel-system-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Hotel-system-theme: mat.define-light-theme(
  (
    color: (
      primary: $Hotel-system-primary,
      accent: $Hotel-system-accent,
      warn: $Hotel-system-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Hotel-system-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
$hover-color: mat.get-color-from-palette($Hotel-system-primary, 50);
@import "assets/sass/main.scss";
:root {
  --mat-menu-container-shape: 1rem;
  --mat-menu-item-hover-state-layer-color: #{$hover-color};
}
