.testi {
  padding: 90px 0;
  img {
    margin-right: 65px;
    &::after {
      content: "";
      border: 2px solid #E5E5E5;
      border-radius: 16px;
      position: absolute;
      left: 35px;
      top: -35px;
    }
    }
  .text {
    margin-top: 100px;
    h3, p {
      color: #152C5B;
    }
    i {
      color: #FFCC47;
      margin-right: 5px;
      font-size: 25px;
      margin-top: 35px;
      margin-bottom: 10px;
    }
    p {
      font-size: 32px;
    }
    span {
      font-size: 18px;
      color: #B0B0B0;
    }
    .icons {
      margin-top: 35px;
      img {
        margin-right: 55px;
      }
    }
  }
}
