<section class="testi">
  <div class="container d-flex justify-content-between">
    <img src="../../../../assets/images/svg/testimonials.svg" alt="">
    <div class="text">
      <h3>Happy Family</h3>
      <i *ngFor="let star of stars" class="fa-solid fa-star"></i>
      <p>What a great trip with my family and I should try again next time soon ...</p>
      <span>Angga, Product Designer</span>
      <div class="icons">
        <img src="../../../../assets/images/svg/left-icon.svg" alt="">
        <img src="../../../../assets/images/svg/right-icon.svg" alt="">
      </div>
    </div>
  </div>
</section>
