<div class="container popular-rooms m-0 m-auto">
  <div class="row justify-content-center">
    <h5 class="blue-text">Houses with beauty backyard</h5>
    <div class="first col-md-4">
      <app-single-room />
    </div>
    <div class="second col-md-4 d-flex flex-column">
      <div class="above-img">
        <app-single-room />
      </div>
      <div class="below-img">
        <app-single-room />
      </div>
    </div>
    <div class="second col-md-4 d-flex flex-column">
      <div class="above-img">
        <app-single-room />
      </div>
      <div class="below-img">
        <app-single-room />
      </div>
    </div>
  </div>
</div>
